/*
//  interface.css
//
//  Created by David Rowe on 1 Aug 2021.
//  Copyright 2021 Vircadia contributors.
//
//  Distributed under the Apache License, Version 2.0.
//  See the accompanying file LICENSE or http://www.apache.org/licenses/LICENSE-2.0.html
*/

h2 {
    margin: 24px 0 0 0;
}

div {
    margin: 16px 0;
}

    div.row {
        display: table-row;
        height: 30px;
    }

        div.row span {
            display: table-cell;
            vertical-align: top;
            width: 120px;
        }

        div.row span input {
            width: 80px;
            position: relative;
            left: 24px;
        }

input {
    width: 160px;
}

    input.checkbox {
        width: 12px;
    }

    input.narrow {
        width: 60px;
    }

    input.medium {
        width: 260px;
    }

    input.wide {
        width: 520px;
    }

    input.align-right {
        text-align: right;
    }

    input:read-only {
        border: dotted 1px #d0d0d0;
    }

button {
    width: 88px;
}

table {
    margin-left: 120px;
}

th {
    border-bottom: 1px solid #808080;
    font-weight: normal;
}
